.card {
    width: 100%;
    margin: .8em;
    padding: 1.45em;
    border:1px solid #dddddd; 
    background-color: #fcfcfc; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 15% auto;
}

@media (max-width: 900px) {
    .card {
        grid-template-columns: 100%;
        text-align: center;;
    }

    .graphic {
        width: 40%;
        padding: 2em;
    }
}

@media (max-width: 600px) {
    .graphic {
        display: none;
    }
}

.graphic {
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    align-self: center;
}